:root{
   --bg-color: #212432;
   --bg-navbar-color: rgba(255,255,255,0.1);
   --bg-card-color: rgba(255,255,255,0.1);
   --bg-blur: blur(35px);
   --border-color: 1px solid rgba(255,255,255,0.1);
   --shadow: 0 0 80px rgba(0,0,0,0.25);
   --font-primary-color: #c2c2c2;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
   font-family: "Poppins", sans-serif;
   background-color: var(--bg-color);
   color: var(--font-primary-color);
}
.glass{
   background-color: var(--bg-card-color);
   border: var(--border-color);
   backdrop-filter: var(--bg-blur);
   box-shadow: var(--shadow);
   border-radius: 1rem;
   padding: 1.2rem 0.4rem;
}
nav {
   margin: 1.3rem 2rem 0 2rem;
   height: 4.7rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 600;
}

.logo{
   font-family: "Montserrat";
   padding-left: 0.8rem;
   font-size: 2.4rem;
}
.menu-icon {
   font-size: 2.4rem;
   padding-right: 1rem;
}
.container{
   margin-left: 2rem;
   margin-right: 2rem;
}
.section-title{
   margin-top: 1.3rem;
   font-size: 1.6rem;
   font-weight: 500;
   margin-bottom: 0.5rem;
}

.card{
   display: flex;
   flex-direction: column;
}
.card-title {
   font-size: 1.2rem;
   font-weight: 600;
   align-self: center;
}
.card-body{
   display: flex;
}
.card-body-img{
   min-width: 12rem;
   height: 12rem;
   border-radius: 6rem;
   background-image: url('../img/IMG_4867.JPG');
   background-repeat: no-repeat;
   background-size: cover;
}
.card-body-text{
   color: white;
   font-weight: 400;
   font-size: 1.1rem;
   line-height: 1.65rem;
   text-align: center;
   padding-left: 0.3rem;
   padding-right: 0.3rem;

}
.card-body-lang{
   display: inline-block;
   width: auto;
   height: 5.5rem;
   white-space: nowrap;
   overflow-y: hidden;
   scrollbar-width: none; /* for Firefox */
}
.card-body-lang::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.card-body-lang img{
   filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
   padding-right: 1rem;
}

.card-body-sinks{
   display: flex;
   flex-wrap:  wrap;
}

.sink{
   height: 7.1rem;
   width: 8.4rem;
   background-color: #161A22;
   border-radius: 1rem;
   margin-right: 0.6rem;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   text-align: center;
   display: inherit;
   flex-direction: column;
   align-content: center;
}
.sink img {
   width: 5rem;   
   height: 5rem;
   align-self: center;
}

.sink span{
   color: #fff;
   font-family: "Montserrat";
   font-size: 1.2rem;
   font-weight: 400;
}
