:root{
   --bg-color: #212432;
   --bg-navbar-color: rgba(255,255,255,0.1);
   --bg-card-color: rgba(255,255,255,0.1);
   --bg-blur: blur(12px);
   --border-color: 1px solid rgba(255,255,255,0.1);
   --shadow: 0 0 80px rgba(0,0,0,0.25);
   --font-primary-color: #c2c2c2;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


html {
   font-size: 62.5%;
   font-family: "Poppins", sans-serif;
   background-color: var(--bg-color);
   color: var(--font-primary-color);
}

body {
   margin-bottom: 5.8rem;
}
.glass{
   background-color: var(--bg-card-color);
   border: var(--border-color);
   backdrop-filter: var(--bg-blur);
   box-shadow: var(--shadow);
   border-radius: 1rem;
   padding: 1.2rem 0.4rem;
}
nav {
   margin: 1.3rem 2rem 0 2rem;
   height: 4.7rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 600;
}

.logo{
   font-family: "Montserrat";
   padding-left: 0.8rem;
   font-size: 2.4rem;
}
.menu-icon {
   font-size: 2.4rem;
   padding-right: 1rem;
}
.container{
   margin-left: 2rem;
   margin-right: 2rem;
}
.section-title{
   margin-top: 1.3rem;
   font-size: 1.6rem;
   font-weight: 500;
   margin-bottom: 0.5rem;
}

.card{
   display: flex;
   flex-direction: column;
}
.card-title {
   font-size: 1.2rem;
   font-weight: 600;
   align-self: center;
}
.card-body{
   display: flex;
}
.card-body-img{
   min-width: 12rem;
   height: 12rem;
   border-radius: 6rem;
   background-image: url('../img/IMG_4867.JPG');
   background-repeat: no-repeat;
   background-size: cover;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
}
.card-body-text{
   color: white;
   font-weight: 400;
   font-size: 1.1rem;
   line-height: 1.65rem;
   text-align: center;
   padding-left: 0.3rem;
   padding-right: 0.3rem;

}
.card-body-lang{
   display: inline-block;
   width: auto;
   height: 5.5rem;
   white-space: nowrap;
   overflow-y: hidden;
   scrollbar-width: none; /* for Firefox */
}
.card-body-lang::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.card-body-lang img{
   filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
   padding-right: 1rem;
}

.card-body-sinks{
   width: 100%;
   display: flex;
   flex-wrap:  wrap;
   justify-content: space-around;
}

.badge{
   height: 7.1rem;
   min-width: 8.4rem;
   border-radius: 1rem;
   margin-top: 0.8rem;
   text-align: center;
   display: inherit;
   flex-direction: column;
   align-content: center;
}
.badge img {
   margin-top: 0.6rem;
   width: 4rem;   
   height: 4rem;
   align-self: center;
   filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 0.25));
}

.badge span{
   font-family: "Montserrat";
   font-size: 1.2rem;
   font-weight: 400;
}
.sink{
   background-color: #161A22;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   color: #c2c2c2;
}
.blur{
   background-color: var(--bg-color);
   color: #c2c2c2;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.project{
   width: 100%;
   position: relative;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.project-card img{
   width: 100%;
   height: 33rem;
   border-radius: 2rem;
   object-fit: cover;
   object-position: 0 0;
}
.project-description{
   position: absolute;
   opacity: 0;
   transition: 0.5s opacity;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 33rem;
   color: white;
   background-color: var(--bg-card-color);
   border: var(--border-color);
   backdrop-filter: var(--bg-blur);
   border-radius: 2rem;
   text-align: center;

}
.project-description:hover{
   opacity: 1;
   }
.project-description-title{
   margin-top: 1rem;
  font-size: 1.8rem;
}
.project-description-date{
   font-size: 1.4rem;
   color: #c2c2c2;
}
.project-description-sinopsis {
   font-size: 1.5rem;
   font-weight: 300;
   padding: 1rem 1rem;
   text-align: justify;
   white-space: pre-wrap;
}
.project-button{
   font-size: 1.4rem;
   font-weight: 600;
   color: #fff;
   opacity: 0.6;
   background-color: #FF3CAC;
   background-image: linear-gradient(to right, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
   width: 12rem;
   height: 4rem;
   border-radius: 2rem;
   border: 0;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   transition: 0.5s;
}
.project-button:hover{
   opacity: 1;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
}
.card-description {
   padding-left: 0.8rem;
   padding-right: 0.8rem;
   padding-bottom: 1.2rem;
   text-align: center;
   font-size: 1.4rem;
}
.card-social{
   display:  flex;
   justify-content: space-around;
}
.card-social-icon img{
   width: 6rem;
   height: 6rem;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 4rem;
   background: #2b5876;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: white;
   text-align: center; 
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 1rem 1rem 0 0;
}
footer p{
   font-size: 1.1rem;

}
